//import bootstrap
@import "scss/custom";

.couleur-rouge{
    color:#9f4b4b;
}

#happy-icon{
    font-size: 100px;    
    color:aqua;
    background-color: black;
}

h1{
    color:red;
    text-decoration: underline;
}


.navbar-brand{
    transition: transform 0.2s ease-in-out;

    &:hover{
        transform: rotate(-5deg) scale(1.1);
    }
}

.color-green{
    color:green;
}